/* Color Swatch -------------------------------------------------------------

header bg #081220 Dark Blue

--------------------------------------------------------------------------------*/

/* Global Elements ------------------------------------------------*/

body {
	max-width:960px;	
	font:100%/1.5 "Helvetica Neue" , Arial, Helvetica, sans-serif;
	padding:0;
	margin:0 auto;
	background:#081220 url('../images/main_bg.gif') repeat;
	background-attachment:fixed;
}

#content_wrapper {
	width:100%;
	background-color:#000;
	color:#fff;
}

p {
	font-size:0.875em; /* 14px */
	margin-left:1.0416667%; /*10px*/
}

h2 {
	background:#000;
	margin:0;
	color:#31578a;
	font:1.4375em halo, arial, sans-serif; /* 23 px */
	line-height:50px; 
	padding-left:10px;
}

h3 {
	color:#ccc;
	padding:0;
	margin:0;
	text-align:right;
	margin-right:2.0833333%; /*20px*/
}

.special {
	background:#000;
	margin:.52083333% /*5px*/ 1.0416667% /*10px*/ .52083333% /*5px */ 0px;
	color:#fff;
	font:1.4375em halo, arial, sans-serif; /* 23 px */
	line-height:50px;
	border:2px solid #333;
	border-radius:10px;
	-mox-border-radius:10px;
	-webkit-border-radius:10px;
	padding:0 10px;
}

#master_chief {
	width:52.083333%; /*500px*/
	float:left;
}

#master_chief img {
	max-width:100%;
}

h5 {
	font-weight:normal;
	text-align:center;
	color:#ffcc00;
}

@font-face {
	font-family: halo;
	src: url('../fonts/Halo.ttf');
}

a:link, a:visited {
	color:#ffcc00;
	font-size:0.875em;
}

.standout {
	color:#ffcc00;
	float:none;
	text-align:center;
}

.page_anchor {
	padding:2px;
	margin:0;
}

.pclear {
	clear:both;
	color:#ffcc00;
	margin:0 auto;
	width:93.75%; /*900px*/
	background:#333;
	padding:10px;
}
/* Navigation Elements ------------------------------------------------*/


#content_wrapper header nav ul {
	width:62.50%; /* 600px */
	list-style-type:none;
	background:#000;
	padding:0;
	margin:0;
	float:right;
	overflow:hidden;
	border-bottom:1px solid #333;
}

#content_wrapper header nav li {
	width:33.333333%; /*200px*/
	float:left;
	text-align:center;
}

#content_wrapper header nav li a {
	text-decoration:none;
	display:block;
	height:50px;
	line-height:50px;
	text-align:center;
	color:#fff;
	background:#081220;
	font-size:0.875em; /* 14px */
}

#content_wrapper header nav li a:hover {
	background:#31578a;
	color:#000;
}

/*---------Content Elements------------------------*/

#content_wrapper h1 {
	color:#fff;
	width:37.5%; /*360px*/
	background:#081220;
	line-height:50px;
	padding-left:10px;
	border-bottom:1px solid #31578a;
	font-family:halo, sans-serif;
	font-size:2.1875em; /* 35px */
	text-shadow:2px 2px 10px #ffcc00;
	margin:1.5625%; /*15px*/ 0 0 0;
}

section {
	overflow:hidden;
	background:#081220 url('../images/content_bg.gif') repeat;
	color:#fff;
	padding:10px 0 20px 10px;
}

section img {
	float:left;
	margin-bottom:3.125% /*30px*/
	padding:0;
}

section h2 {
	font:1.4375em halo, arial, sans-serif; /* 23 px */
	margin-top:2.0833333%; /*20px*/ 
	padding-top:10px;
	color:#31578a;
}

#intro_paragraph {
	margin:2.0833333% /*20px*/ 1.0416667%;/*10px*/
	-moz-column-count:3;
	-webkit-column-count:3;
	column-count:3;
	width:41.666667%; /*400px*/
	float:left;
}

#intro_paragraph a {
	color:#ffcc00;
	text-decoration:none;
}

/* -------- Gallery Styles -------------------------*/

aside {
	overflow:hidden;
	background:#081220 url('../images/content_bg.gif') repeat;
	color:#fff;
}

aside ul {
	width:64.583333%; /*620px*/
	list-style-type:none;
	margin:1.0416667%/*10px*/ 0;
	float:right;
}

aside li {
	width:19.354839%; /*120px */
	height:85px;
	margin:1.0416667%/*10px*/ 0 0 ;
	float:left;
}

aside p  {
	width:28.125%; /*260px*/
	float:left;
	padding:10px;
}

aside img {
	border:3px solid #000;
	box-shadow:2px 2px 2px #111;
	opacity:0.9;
	-moz-opacity:0.9;
	-webkit-opacity:0.9;
}


/* -------- Videos Styles -------------------------*/

#videos {
	background:#081220 url('../images/content_bg.gif') repeat;
	padding-bottom:5px;
}

#videos ul {
	list-style-type:none;
	overflow:hidden;
}

#videos a {
	text-decoration:none;
}

#videos li {
	display:inline;
	padding-left:20px;
}

#videos img {
	border:3px solid #000;
}

#videos p {
	width:47.916667%; /*460px*/
	float:left;
}

#videos h3 {
	padding:10px 0 0 10px;
}

/* -------- Links Styles -------------------------*/

#links {
	background:#081220 url('../images/content_bg.gif') repeat;
	padding-bottom:5px;
	overflow:hidden;
}

#links p {
	margin:0;
	width:58.333333%; /*560px*/
	margin-left:1.0416667%;/*10px*/
	padding:10px 0;
	width:540px;
	float:left;
}

#links ul {
	list-style-type:none;
	padding:0;
	margin-left:10px;
	clear:left;
}

#links img {
	float:right;
	margin-top:20px;
	margin-right:1.0416667%;/*10px*/
	border:3px solid #000;
}


/* -------- Newsletter Styles -------------------------*/

#join_now {
	overflow:hidden;
	width:100%; /*960px*/
	background:#081220 url('../images/content_bg.gif') repeat;
	padding-bottom:30px;

}

#join_now h2 {
	background:#000;
	margin:0;
	color:#31578a;
	font:1.4375em halo, arial, sans-serif; /* 23 px */
	line-height:50px;
}

#join_now .button {
	display: inline-block;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: 1.4em/100% Arial, Helvetica, sans-serif;
	padding: .5em 2em .55em;
	text-shadow: 0 1px 1px rgba(0,0,0,1);
	-webkit-border-radius: .3em; 
	-moz-border-radius: .3em;
	border-radius: .3em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
	margin-left:10px;
	line-height:35px;
}

#join_now .button:hover {
	text-decoration: none;
}

#join_now .button:active {
	position: relative;
	top: 1px;
}

#join_now .orange {
	color: #fef4e9;
	border: solid 1px #da7c0c;
	background: #f78d1d;
	background: -webkit-gradient(linear, left top, left bottom, from(#faa51a), to(#f47a20));
	background: -moz-linear-gradient(top,  #faa51a,  #f47a20);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#faa51a', endColorstr='#f47a20');
}
#join_now .orange:hover {
	background: #f47c20;
	background: -webkit-gradient(linear, left top, left bottom, from(#ffcc00), to(#f47a20));
	background: -moz-linear-gradient(top,  #ffcc00,  #f47a20);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffcc00', endColorstr='#f47a20');
	border: solid 1px #000;
}
#join_now .orange:active {
	color: #fcd3a5;
	background: -webkit-gradient(linear, left top, left bottom, from(#f47a20), to(#faa51a));
	background: -moz-linear-gradient(top,  #f47a20,  #faa51a);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f47a20', endColorstr='#faa51a');
}

/* -------- Comment Styles -------------------------*/

article {
	overflow:hidden;
	background:#081220 url('../images/content_bg.gif') repeat;
}

article p {
	width:98%; /*500px*/
	margin-left:1.0416667%;/*10px*/
	color:#999;
	font: 0.875em/1.5 Arial, Helvetica, sans-serif; /* 14px*/
}

article ul {
	width:100%; /*960px*/
	list-style-type:none;
	padding:0;
}

article li {
	float:left;
	margin:0 0 0 .52083333%; /*5px */ 
	background:url('../images/comment_bg2.jpg') repeat-x;
	color:#000;
	padding:10px;
	font: 0.875em/1.5 Arial, Helvetica, sans-serif; /* 14px*/
	border-bottom:1px solid #eee;
	width:98%;
}

article img {
	float:left;
	padding-left:10px;
	padding-right:10px;
}

.normal {
	font: 0.875em/1.5 Arial, Helvetica, sans-serif; /* 14px*/
}

/* -------- Footer Styles -------------------------*/

footer {
	background:#081220;
	color:#888;
	margin:0 auto;
}

footer p {
	padding:10px;
	margin:0;
	text-align:center; 
	width:100%;
	background:#081220;
}

footer ul {
	width:100%;
	list-style-type:none;
	padding:0;
	margin-left:15px;
	overflow:hidden;
}
footer li {
	display:inline;
	float:left;
	padding-left:5px;
}
