/* Color Swatch -------------------------------------------------------------

header bg #081220 Dark Blue

--------------------------------------------------------------------------------*/


body {

	font:14px/1.5 "Helvetica Neue" , Arial, Helvetica, sans-serif;
	padding:0;
}

#content_wrapper {
	width:960px;
	margin:0 auto;
	background:#333;
}